@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section SecondaryNav{
    <h1>
        Barba.JS
    </h1>
    <div style="margin-top:36px;">
        <ul class="nav nav-tabs">
            <li>
                @Html.ActionLink("Home", "Home")
            </li>
            <li>
                @Html.ActionLink("State1", "State1")
            </li>
            <li>
                @Html.ActionLink("State2", "State2")
            </li>
            <li>
                @Html.ActionLink("Employees", "Index", "Payroll", null, null)
            </li>
        </ul>
    </div>
}

<div class="barba-container">
    <h1>Home state</h1>
</div>
